body {
    background-color: rgba(116, 116, 116, 0.125);
}
#destaques, #banner, #galeria{
    background: rgba(106, 240, 240, 0.924);
    padding: 30px;
    margin-top: 30px;
}
#Rodape {
    margin: 30px;
    
    

}
#Rodape .row .col-2 img{
    width: 30%;
    margin-right: 20px;
    
}
.img-direita {
    text-align: right  ;
}
.texto-centralizado {
    text-align: center;

}
#carrosel {
    margin: center;
}

